target/classes/mc-productcatalogsync-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:sftp="http://www.mulesoft.org/schema/mule/sftp" xmlns:snowflake="http://www.mulesoft.org/schema/mule/snowflake" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/snowflake http://www.mulesoft.org/schema/mule/snowflake/current/mule-snowflake.xsd
http://www.mulesoft.org/schema/mule/sftp http://www.mulesoft.org/schema/mule/sftp/current/mule-sftp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
	<snowflake:snowflake-config name="Snowflake_Config" doc:name="Snowflake Config" doc:id="2e18fe97-f574-4477-8537-17e7e09e43c8" >
		<snowflake:snowflake-connection accountName="YQ32372.ap-south-1.aws" warehouse="COMPUTE_WH" database="DEV_DB" schema="PUBLIC" user="Birundha" password="BirundhaKandasamy0119" role="ACCOUNTADMIN" />
	</snowflake:snowflake-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="3b4ce132-2e27-4ad8-9d75-9464e90bf35d" >
		<salesforce:basic-connection username="${sf.username}" password="${sf.password}" securityToken="${sf.security-token}" url="https://login.salesforce.com/services/Soap/u/64.0" />
	</salesforce:sfdc-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="7dea0cd9-c933-472f-a10e-f44dd045c273" >
		<file:connection workingDir="C:\Users\Birundha\New folder (2)" />
	</file:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fc283351-c2f3-4a4e-b743-88f786a1217e" >
		<http:listener-connection host="localhost" port="8081" />
	</http:listener-config>
	<file:config name="File_Config1" doc:name="File Config" doc:id="b5e18afa-de14-4dc0-a26e-d7dac4edc1df" >
		<file:connection workingDir="C:\Users\Birundha\New folder (2)" />
	</file:config>
	<configuration-properties doc:name="Configuration properties" doc:id="cc12d983-aa76-46b4-997c-ede166aa469c" file="config/dev-api-properties.yaml" />
	<db:config name="Database_Config" doc:name="Database Config" doc:id="071dd4ee-fe44-4508-af16-2db17cef30d8" >
		<db:generic-connection url="${db.url}" driverClassName="${db.driver-class-name}" user="${db.user}" password="${secure::db.password}" />
	</db:config>
	<secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="56336e8c-0eb7-4f3b-b2da-a8269848b153" file="config\dev-api-properties.yaml" key="Bru@0119" >
		<secure-properties:encrypt algorithm="Blowfish" />
	</secure-properties:config>
<flow name="mc-productcatalogsync-apiFlow3">

    <http:listener doc:name="Listener"
        path="/prodsync" config-ref="HTTP_Listener_config"/>

    <file:read doc:name="Read CSV"
        config-ref="File_Config1"
        path="products.csv"/>

    <ee:transform doc:name="To Java List">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload
]]></ee:set-payload>
        </ee:message>
    </ee:transform>

    <batch:job jobName="mc-productcatalogsync-apiBatch_Job1" maxFailedRecords="-1">

        <batch:process-records>

            <batch:step name="Batch_Step1">

    <set-variable variableName="product" value="#[payload]" />

    <logger message="PRODUCT OBJECT: #[vars.product]" level="INFO"/>

    <salesforce:upsert
        config-ref="Salesforce_Config"
        objectType="Product2"
        externalIdFieldName="Id__c">

        <salesforce:records><![CDATA[#[[vars.product]]]]></salesforce:records>

    </salesforce:upsert>

    <snowflake:insert config-ref="Snowflake_Config">

        <snowflake:sql><![CDATA[
INSERT INTO PRODUCT (ID, PRODUCT_CODE, PRODUCT_NAME)
VALUES (:Id, :ProductCode, :Name)
]]></snowflake:sql>

        <snowflake:input-parameters><![CDATA[#[{
            Id: vars.product.Id__c,
            ProductCode: vars.product.ProductCode,
            Name: vars.product.Name
        }]]]></snowflake:input-parameters>

    </snowflake:insert>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="d2d401ea-e2a7-4eb1-adf5-87faac3b6b5f" size="3">
						<ee:transform doc:name="Transform Message" doc:id="f8039b75-6669-4424-9937-049d36aa7579" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</batch:aggregator>


</batch:step>

        </batch:process-records>

        <batch:on-complete>
            <logger level="INFO"
                message="Batch completed successfully" />
        </batch:on-complete>

    </batch:job>

    <ee:transform doc:name="Response">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    status: "SUCCESS",
    message: "Product sync completed"
}
]]></ee:set-payload>
        </ee:message>
    </ee:transform>


</flow>
	<flow name="mc-productcatalogsync-apiFlow4" doc:id="0d8eb216-f147-4319-9e41-e52d6266bbcb" >
		<http:listener doc:name="Listener" doc:id="9eb90edc-ee67-43ec-8c0a-0c5808291441" config-ref="HTTP_Listener_config" path="/prodsyn" />
		<file:read doc:name="Read CSV" doc:id="8ab42f6e-c5c5-4b51-8aed-2b101e885298" config-ref="File_Config1" path="products.csv" />
		<ee:transform doc:name="To Java List" doc:id="966d7385-eb18-4c5f-8e85-1fbe3c82d331" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
payload
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<batch:job jobName="mc-productcatalogsync-apiBatch_Job" doc:id="05624180-85d0-41bb-9f3c-fc643a9a45e3" schedulingStrategy="ROUND_ROBIN">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="33e70d45-cd64-4a73-b127-6c07feb58dd5" >
					<set-variable value="#[payload]" doc:name="Set Variable" doc:id="d1fc84a7-45c9-4a7b-a2a4-b413b83e89b9" variableName="product" />
					<logger level="INFO" doc:name="Logger" doc:id="774202d1-cbdb-42b4-a43e-c7a814a9733b" message="PRODUCT OBJECT: #[vars.product]" />
					<salesforce:upsert objectType="Product2" externalIdFieldName="Id__c" doc:name="Upsert" doc:id="29b414a3-704e-429f-9bcf-ef0d36145116" config-ref="Salesforce_Config" >
						<salesforce:records ><![CDATA[#[[vars.product]]]]></salesforce:records>
					</salesforce:upsert>
					<snowflake:insert doc:name="Insert" doc:id="dcde807d-51d3-4fb3-a82d-1ff7046657a5" config-ref="Snowflake_Config" >
						<snowflake:sql ><![CDATA[
INSERT INTO PRODUCT (ID, PRODUCT_CODE, PRODUCT_NAME)
VALUES (:Id, :ProductCode, :Name)
]]></snowflake:sql>
						<snowflake:input-parameters ><![CDATA[#[{
            Id: vars.product.Id__c,
            ProductCode: vars.product.ProductCode,
            Name: vars.product.Name
        }]]]></snowflake:input-parameters>
					</snowflake:insert>
					<batch:aggregator doc:name="Batch Aggregator" doc:id="41e0f717-0661-46e5-8ba2-5155147cc9a3" streaming="true">
						<ee:transform doc:name="Transform Message" doc:id="f716ffbc-b480-4188-b7f3-46c89ba965a9" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="ad2a8915-5ce0-41a9-bfb7-9271c1129adc" message="Batch completed successfully" />
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Response" doc:id="62805598-4f5b-47f8-ba13-40dae717330b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    status: "SUCCESS",
    message: "Product sync completed"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	 <flow name="mc-productcatalogsync-api">

        <http:listener
                config-ref="HTTP_Listener_config"
                path="/prodcat"/>

        <logger
                level="INFO"

        <file:read
                config-ref="File_Config"
                path="products.csv"/>

        <logger
                level="INFO"
                message="CSV File Read Successfully"/>

        <ee:transform doc:name="CSV to Java">

            <ee:message>

                <ee:set-payload><![CDATA[
%dw 2.0
output application/java
---
payload
]]></ee:set-payload>

            </ee:message>

        </ee:transform>


        <batch:job jobName="ProductCatalogSyncJob"
           maxFailedRecords="-1">

    <batch:process-records>

        <batch:step name="SyncProductStep">

            <set-variable
                    variableName="product"
                    value="#[payload]" />

            <logger
                    level="INFO"
                    message="Processing Product : #[vars.product]" />

            <try>

                <salesforce:upsert
                        config-ref="Salesforce_Config"
                        objectType="Product2"
                        externalIdFieldName="Id__c">

                    <salesforce:records><![CDATA[
#[[
{
    Id__c : vars.product.Id__c,
    Name : vars.product.Name,
    ProductCode : vars.product.ProductCode
}
]]
]]></salesforce:records>

                </salesforce:upsert>

                <logger
                        level="INFO"
                        message="Salesforce Upsert Successful : #[vars.product.Id__c]" />

                <error-handler>

                    <on-error-continue
                            type="SALESFORCE:CONNECTIVITY">

                        <logger
                                level="ERROR"
                                message="Salesforce Connectivity Error : #[error.description]" />

                    </on-error-continue>

                    <on-error-continue
                            type="SALESFORCE:INVALID_INPUT">

                        <logger
                                level="ERROR"
                                message="Salesforce Validation Error : #[error.description]" />

                    </on-error-continue>

                    <on-error-continue
                            type="ANY">

                        <logger
                                level="ERROR"
                                message="Salesforce Unknown Error : #[error.description]" />

                    </on-error-continue>

                </error-handler>

            </try>

            <try>

                <snowflake:insert
                        config-ref="Snowflake_Config">

                    <snowflake:sql><![CDATA[
INSERT INTO PRODUCT
(
ID,
PRODUCT_CODE,
PRODUCT_NAME
)

VALUES
(
:Id,
:ProductCode,
:Name
)
]]></snowflake:sql>

                    <snowflake:input-parameters><![CDATA[
#[
{
    Id : vars.product.Id__c,
    ProductCode : vars.product.ProductCode,
    Name : vars.product.Name
}
]
]]></snowflake:input-parameters>

                </snowflake:insert>

                <logger
                        level="INFO"
                        message="Snowflake Insert Successful : #[vars.product.Id__c]" />

                <error-handler>

                    <on-error-continue
                            type="DB:CONNECTIVITY">

                        <logger
                                level="ERROR"
                                message="Snowflake Connection Error : #[error.description]" />

                    </on-error-continue>

                    <on-error-continue
                            type="DB:QUERY_EXECUTION">

                        <logger
                                level="ERROR"
                                message="Snowflake Query Error : #[error.description]" />

                    </on-error-continue>

                    <on-error-continue
                            type="ANY">

                        <logger
                                level="ERROR"
                                message="Unexpected Snowflake Error : #[error.description]" />

                    </on-error-continue>

                </error-handler>

            </try>

          <batch:aggregator size="10">

                <logger
                        level="INFO"
                        message="Processed Batch of 10 Products." />

            </batch:aggregator>

        </batch:step>

    </batch:process-records>


    <batch:on-complete>
				<logger level="INFO" doc:name="Logger" doc:id="09b68f50-a4e9-4c41-828c-eea31e37fbeb" message="#[payload]"/>


    </batch:on-complete>

</batch:job>

        <ee:transform>

            <ee:message>

                <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    status : "SUCCESS",
    message : "Batch Job Started Successfully"
}
]]></ee:set-payload>

            </ee:message>

        </ee:transform>

        <error-handler>

            <on-error-propagate type="FILE:FILE_NOT_FOUND">

                <ee:transform>

                    <ee:message>

                        <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success:false,
    message:"CSV file not found."
}
]]></ee:set-payload>

                    </ee:message>

                    <ee:variables>

                        <ee:set-variable
                                variableName="httpStatus">

                            404

                        </ee:set-variable>

                    </ee:variables>

                </ee:transform>

            </on-error-propagate>

            <on-error-propagate type="SALESFORCE:CONNECTIVITY">

                <ee:transform>

                    <ee:message>

                        <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success:false,
    message:"Unable to connect to Salesforce."
}
]]></ee:set-payload>

                    </ee:message>

                    <ee:variables>

                        <ee:set-variable
                                variableName="httpStatus">

                            503

                        </ee:set-variable>

                    </ee:variables>

                </ee:transform>

            </on-error-propagate>

            <on-error-propagate type="ANY">

                <logger
                        level="ERROR"
                        message="#[error.description]"/>

                <ee:transform>

                    <ee:message>

                        <ee:set-payload><![CDATA[
%dw 2.0
output application/json
---
{
    success:false,
    message:"Unexpected error occurred.",
    error:error.description
}
]]></ee:set-payload>

                    </ee:message>

                    <ee:variables>

                        <ee:set-variable
                                variableName="httpStatus">

                            500

                        </ee:set-variable>

                    </ee:variables>

                </ee:transform>

            </on-error-propagate>

        </error-handler>

    </flow>


</mule>
